*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, input{
    background: #EFEFEF;
    font-family: 'Poppins', sans-serif;
}

body::before{
    content: '';
    width: 100%;
    height: 436px;
    background: #535971;
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
}

.page{
    width: 750px;
    margin: 140px auto 0;
}

header{
    width: 417px;
    margin-bottom: 58px;
}

header p{
    font-size: 20px;
    color: #FFF;
}

header h1{
    color: #FFF;
    font-size: 48px;
}

h1, legend{
    font-family: 'Staatliches', cursive;
}

form{
    border-radius: 20px 20px 0px 0px;
    background: #FFF;
    padding: 64px;
    width: 750px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.fieldset-wrapper{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.inputs{
    display: flex;
    flex-direction: column;
    gap: 19px;
}

fieldset{
    border: none;
}

fieldset legend{
    color: #535971;
    font-family: Staatliches;
    font-size: 24px;
    line-height: 34px;
    border-bottom: 1px solid #E6E6F0;
    padding-bottom: 16px;
}

.input-wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.col-2, .col-3{
    display: flex;
    flex-direction: row;
    gap: 22px;
}

.input-wrapper label{
    color: #4E4958;
    font-size: 14px;
    line-height: 24px;
}

.input-wrapper label span{
    color: #C1BCCC;
    font-size: 12px;
    line-height: 20px;
    margin-left: 7px;
}

.input-wrapper label span:hover{
    color: #6C6A71;
}

.input-wrapper input{
    height: 56px;
    border-radius: 8px;
    border: 1px solid #E6E6F0;
    background: #FAFAFC;
    padding: 0 24px;
    font-size: 16px;
    line-height: 26px;
    color: #6C6A71;
}

.subtitle-wrapper{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.subtitle-wrapper h2{ 
    color: #535971;
    font-family: Staatliches;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px; /* 170% */
}

footer{
    height: 160px;
    border-radius: 0px 0px 20px 20px;
    background: #535971;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

footer .button{
    width: 608px;
    background: #FF5374;
    height: 55px;
    border: none;
    border-radius: 20px;
    margin: auto;
    font-family: Staatliches;
    color: #FFF;
    font-size: 20px;
    line-height: 26px;
}